body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 100;
    text-decoration: underline;
}

.content-container {
    width: 40%;
    margin-left: 30%;
    padding: 12vh 1% 2% 1%;
    box-shadow: 0 5px 10px gray;
}
