{% load static %}

{% block content %}
    <div class="card">
        <img src="{{ post.project.image.url }}" alt="Project Thumbnail" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ post.project.title }} by {{ post.project.user.username }}</h5>
            {% if post.liked %}
                <img src="{% static 'img/full-heart.png' %}" alt="Liked" class="">
            {% else %}
                <img src="{% static 'img/empty-heart.png' %}" alt="Not Liked" class="">
            {% endif %}
            <p>{{ post.project.like_set.count }} likes</p>
            <p class="card-text">{{ post.project.description }}</p>
            <a href="{% url 'main:project' post.project.id %}" class="btn btn-primary">View project</a>
        </div>
    </div>

    <style>
        .card {
            padding-top: 1%;
        }

        .card:hover {
            box-shadow: 0 0 30px gray;
            transform: scale(1.1);
            z-index: 500;
        }

        .card-title {
            font-weight: 700;
        }
    </style>
{% endblock %}