{% extends 'authentication/base.html' %}

{% block title%}
    Register
{% endblock %}

{% block content %}
    <form action="{% url 'main:register' %}" method="POST">
        {% csrf_token %}

        <p class="title">Register</p>

        <div class="tile">
            <label for="username">Username:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="tile">
            <label for="password">Password:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="tile">
            <label for="repeat-password">Repeat password:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

        <a href="{% url 'main:login' %}" >You already have account? Login here!</a>
    </form>
{% endblock %}